

header{
  padding: 15px;
  width: 100%;
  height: 40px;
  background-color: orangered;
}

body{
  background-color: aqua;
}

footer {
  padding: 25px;
  background-color: rgb(10, 156, 10);
  bottom: 0;
  width: 100%;
  font-size: large;
}

.recipe-list-page{
  size: 0cap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: repeat(4,auto);
}

.list-item{
  padding: 50px;
}

.list-item:hover{
  box-shadow: 5px 5px 5px gray;
}

a{
  font-size: large;
  color: green;
  text-decoration: none;
}

h1{
  text-align: center;
  color: green;
}

.recipe-list-page a{
  margin: 90px;
}

.recipe-list-page img{
  height: 300px;
  width: 300px;
}

tr{
  font-size: large;
  font-style: normal;
}

tr:nth-child(even) {
  background-color: lightgray;
}

#ingredients{
  text-underline-position: under;
  margin: 10px;
}

#nav-links a{
  color: white;
  font-size:30px;
}
